/* Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #424649;
  background: #DDDDDD;
}

.cms-page-view .column.main img {
  margin: 0 auto;
}

.columns .column.main {
  padding-bottom: 0;
}

.modal-popup .modal-footer {
  display: none;
}

.content-wrapper {
  font-weight: 300;
  max-width: 1280px;
  margin: 0 auto;
  line-height: 1.4;
  background: #FFFFFF;
}

.content-wrapper .row {
  margin: 0;
}

.content-wrapper .column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content-wrapper .block-title {
  text-align: center;
  margin: 0;
}

.content-wrapper .widget .block-title > strong {
  font-size: 4rem;
  line-height: 1.5rem;
  font-weight: 300;
}

.content-wrapper .block.widget .products-grid .product-item {
  margin: 0;
}

.content-wrapper .widget.block-products-list .add-button {
  font-weight: 400;
}

.content-wrapper .widget.block-products-list .add-button:hover {
  background: #00388D;
  border: 1px solid #00388D;
  color: #fff;
}

.content-wrapper .product-item-link {
  text-transform: none;
}

.content-wrapper .widget.block-products-list .product-item-name {
  height: 52px;
}

.content-wrapper .price-wrapper {
  font-weight: 400;
}

.content-wrapper h1 {
  font-size: 6rem;
  line-height: 1.3;
}

.content-wrapper h2 {
  font-size: 5rem;
  line-height: 1.3;
}

.content-wrapper h3 {
  font-size: 3.5rem;
  line-height: 1.3;
}

.content-wrapper h4 {
  font-size: 4rem;
  line-height: 1.4;
  font-weight: 300;
}

.content-wrapper h5 {
  font-size: 3rem;
  line-height: 1.4;
  font-weight: 300;
  margin-top: 2.6rem;
  margin-bottom: .4rem;
}

.content-wrapper h6 {
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 300;
}

.content-wrapper p {
  font-size: 1.8rem;
  line-height: 1.4;
}

.content-wrapper a {
  text-decoration: none;
  color: #424649;
  cursor: pointer;
}

.content-wrapper button {
  color: #424649;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  border: 1px solid #424649;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 2rem;
}

.content-wrapper li {
  font-size: 1.6rem;
}

.content-wrapper .cta {
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 2rem;
}

.content-wrapper .cta:hover {
  text-decoration: underline;
}

.content-wrapper .slick-list {
  margin-left: -1.8rem;
}

.content-wrapper .slick-prev, .content-wrapper .slick-next {
  font-size: 0;
}

.content-wrapper .slick-prev:before, .content-wrapper .slick-next:before {
  color: none;
}

.content-wrapper .slick-arrow {
  border: none;
}

.content-wrapper .linkCTA {
  font-weight: 700;
  text-transform: uppercase;
}

/* Image Comparison related */
.img-comp-container {
  position: relative;
  width: 691px;
  height: 400px;
  /* same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  float: right;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
  height: 400px;
  max-width: inherit;
}

#slider-wrapper {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
}

#img-comp-slider {
  width: 4px;
  height: 410px;
  background-color: #212121;
  opacity: 0.7;
  margin: 38px 0 0 62px;
  /* border-radius: 50%; */
}

#slider-text {
  margin-top: 6px;
  color: #212121;
  text-transform: uppercase;
  width: 140px;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content-wrapper .button-cta {
  font-size: 2rem;
  font-weight: 400;
  background-color: #004098;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 3rem;
  border: 1px solid #004098;
}

.content-wrapper .button-cta:hover {
  background-color: #BDBDBD;
}

.content-wrapper .clearfix {
  display: block;
}

.content-wrapper .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .content-wrapper .clearfix {
  height: 1px;
}

@media only screen and (max-width: 649px) {
  .content-wrapper .slick-list {
    margin: 0 auto;
  }
}



/*# sourceMappingURL=styles.css.map */
