/* Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #424649;
  background: #DDDDDD;
}

.cms-page-view .column.main img {
  margin: 0 auto;
}

.columns .column.main {
  padding-bottom: 0;
}

.modal-popup .modal-footer {
  display: none;
}

.content-wrapper {
  font-weight: 300;
  max-width: 1280px;
  margin: 0 auto;
  line-height: 1.4;
  background: #FFFFFF;
}

.content-wrapper .row {
  margin: 0;
}

.content-wrapper .column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content-wrapper .block-title {
  text-align: center;
  margin: 0;
}

.content-wrapper .widget .block-title > strong {
  font-size: 4rem;
  line-height: 1.5rem;
  font-weight: 300;
}

.content-wrapper .block.widget .products-grid .product-item {
  margin: 0;
}

.content-wrapper .widget.block-products-list .add-button {
  font-weight: 400;
}

.content-wrapper .widget.block-products-list .add-button:hover {
  background: #00388D;
  border: 1px solid #00388D;
  color: #fff;
}

.content-wrapper .product-item-link {
  text-transform: none;
}

.content-wrapper .widget.block-products-list .product-item-name {
  height: 52px;
}

.content-wrapper .price-wrapper {
  font-weight: 400;
}

.content-wrapper h1 {
  font-size: 6rem;
  line-height: 1.3;
}

.content-wrapper h2 {
  font-size: 5rem;
  line-height: 1.3;
}

.content-wrapper h3 {
  font-size: 3.5rem;
  line-height: 1.3;
}

.content-wrapper h4 {
  font-size: 4rem;
  line-height: 1.4;
  font-weight: 300;
}

.content-wrapper h5 {
  font-size: 3rem;
  line-height: 1.4;
  font-weight: 300;
  margin-top: 2.6rem;
  margin-bottom: .4rem;
}

.content-wrapper h6 {
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 300;
}

.content-wrapper p {
  font-size: 1.8rem;
  line-height: 1.4;
}

.content-wrapper a {
  text-decoration: none;
  color: #424649;
  cursor: pointer;
}

.content-wrapper button {
  color: #424649;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  border: 1px solid #424649;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 2rem;
}

.content-wrapper li {
  font-size: 1.6rem;
}

.content-wrapper .cta {
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 2rem;
}

.content-wrapper .cta:hover {
  text-decoration: underline;
}

.content-wrapper .slick-list {
  margin-left: -1.8rem;
}

.content-wrapper .slick-prev, .content-wrapper .slick-next {
  font-size: 0;
}

.content-wrapper .slick-prev:before, .content-wrapper .slick-next:before {
  color: none;
}

.content-wrapper .slick-arrow {
  border: none;
}

.content-wrapper .linkCTA {
  font-weight: 700;
  text-transform: uppercase;
}

/* Image Comparison related */
.img-comp-container {
  position: relative;
  width: 840px;
  height: 560px;
  /* same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  float: right;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
  margin: 0;
  width: 840px;
  max-width: inherit;
}

#slider-wrapper {
  position: absolute;
  padding: 50px 0 0 0;
  margin: 0;
  z-index: 9;
  cursor: ew-resize;
}

#img-comp-slider {
  width: 4px;
  height: 570px;
  background-color: #212121;
  opacity: 0.7;
  margin: 0 0 0 72px;
}

#slider-text {
  margin-top: 6px;
  color: #212121;
  text-transform: uppercase;
  width: 150px;
}

@media only screen and (max-width: 649px) {
  .img-comp-container {
    position: relative;
    width: auto;
    min-height: 224px;
  }
  .img-comp-img img {
    max-width: 330px;
  }
  #slider-wrapper {
    padding-top: 39px;
  }
  #img-comp-slider {
    min-height: 230px;
    height: inherit;
  }
  #slider-text {
    font-size: 1.2rem;
    margin-top: 0;
  }
}

@media only screen and (min-width: 451px) and (max-width: 549px) {
  .img-comp-img img {
    max-width: 430px;
  }
  #slider-wrapper {
    padding-top: 32px;
  }
  #img-comp-slider {
    height: 290px;
  }
}

@media only screen and (min-width: 550px) and (max-width: 649px) {
  .img-comp-img img {
    max-width: 530px;
  }
  #slider-wrapper {
    padding-top: 34px !important;
  }
  #img-comp-slider {
    height: 360px;
  }
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content-wrapper h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.content-wrapper h2 {
  font-size: 4rem;
}

.content-wrapper h3 {
  font-size: 2.5rem;
}

.content-wrapper h4 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.content-wrapper h5 {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 4rem;
}

.content-wrapper h6 {
  margin-top: 4rem;
}

.content-wrapper .button-cta {
  font-size: 2rem;
  font-weight: 400;
  background-color: #004098;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 4rem;
  border: 1px solid #004098;
}

.content-wrapper .button-cta:hover {
  background-color: #b9d9ec;
}

.content-wrapper .blog-link {
  font-weight: 400;
  text-transform: uppercase;
}

.content-wrapper .clearfix {
  display: block;
}

.content-wrapper .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .content-wrapper .clearfix {
  height: 1px;
}

.o-introWrapper {
  margin-bottom: 4rem;
  background: -o-linear-gradient(304deg, #b9d9ec 48%, #FFFFFF 48%);
  background: linear-gradient(146deg, #b9d9ec 48%, #FFFFFF 48%);
}

.o-introWrapper #m-hero {
  position: relative;
  margin-bottom: 14rem;
}

.o-introWrapper #m-hero .a-heroImg {
  position: absolute;
  top: 6%;
  right: 9rem;
  width: 42%;
}

.o-introWrapper #m-hero .a-ratingBadge {
  position: absolute;
  top: 8%;
  right: 0;
  width: 9%;
}

.o-introWrapper #m-hero .m-heroBox {
  width: 33%;
  padding-top: 6%;
  margin-left: 6%;
}

.o-introWrapper #m-hero .m-heroBox h2 {
  font-size: 7rem;
  line-height: 1;
  margin-top: 0;
}

.o-introWrapper #m-info {
  position: relative;
}

.o-introWrapper #m-info .a-infoImg {
  display: inline-block;
  float: left;
  width: 30%;
  margin-left: 5%;
}

.o-introWrapper #m-info .m-infoText {
  position: relative;
  display: inline-block;
  margin-left: 8rem;
  margin-bottom: 0;
  width: 50%;
}

.o-introWrapper #m-info .m-details {
  position: relative;
  display: inline-block;
  padding-left: 8rem;
  margin-bottom: 10rem;
  width: 54%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.o-introWrapper #m-info .m-details .m-detail {
  width: 42%;
  margin-right: 6%;
}

.o-introWrapper #m-info .m-details .m-detail h4 {
  font-weight: 400;
}

#o-testimonials {
  margin-bottom: 4rem;
}

#testimonialsSlider {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

#testimonialsSlider .slick-prev {
  left: -1rem;
}

#testimonialsSlider .slick-next {
  right: -1rem;
}

#testimonialsSlider .m-testimonial {
  padding: 2rem 6rem;
}

#testimonialsSlider .m-testimonial h4 {
  height: 50px;
}

#testimonialsSlider .m-testimonial img {
  width: 100px;
  margin: 0 auto 3rem auto;
}

#testimonialsSlider .m-testimonial blockquote {
  font-weight: 300;
  color: unset;
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

#testimonialsSlider .m-testimonial blockquote span {
  font-weight: 400;
}

#o-beforeAfter {
  position: relative;
  margin-bottom: 1rem;
  height: 560px;
  background-color: #fcd9dd;
}

#o-beforeAfter .m-beforeAfter-slider {
  display: inline-block;
  width: 65%;
}

#o-beforeAfter .m-beforeAfter-text {
  display: inline-block;
  float: left;
  padding: 4rem 0 4rem 6rem;
  margin-top: 9%;
  width: 34%;
}

#o-beforeAfter .m-beforeAfter-text p {
  width: 80%;
}

#o-blog {
  position: relative;
  margin-bottom: 8rem;
}

#o-blog .a-blogImg-left {
  width: 60%;
  display: inline-block;
}

#o-blog .a-blogImg-right {
  width: 25%;
  display: inline-block;
  float: right;
}

#o-blog .m-blog-text {
  width: 40%;
  margin-left: 50%;
  margin-top: -20rem;
}

#o-blog .m-blog-text h2 {
  margin-top: 0;
}

#o-blog .m-blog-text h3 {
  margin-bottom: 0;
  text-transform: uppercase;
}

#o-products {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 4rem;
}

#o-products h2 {
  margin-bottom: 4rem;
}

#o-products .m-primers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

#o-products .m-primers .m-primer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#o-products .m-primers .m-primer img {
  max-width: 183px;
}

#o-products .m-primers .m-primer h4 {
  text-transform: uppercase;
}

#o-products .m-primers .m-primer h5 {
  height: 3.4rem;
}

@media only screen and (max-width: 649px) {
  .content-wrapper h2 {
    font-size: 3rem;
  }
  .content-wrapper h3 {
    font-size: 2.3rem;
  }
  .content-wrapper h6 {
    margin-top: 2rem;
  }
  .content-wrapper .button-cta {
    margin-top: 0;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.6rem;
  }
  .content-wrapper .slick-list {
    margin: 0 auto;
  }
  .o-introWrapper {
    background: -o-linear-gradient(290deg, #b9d9ec 12%, #aaa 11.9%, #FFFFFF 12.1%);
    background: linear-gradient(160deg, #b9d9ec 12%, #aaa 11.9%, #FFFFFF 12.1%);
  }
  .o-introWrapper #m-hero {
    text-align: center;
    margin-bottom: 4rem;
  }
  .o-introWrapper #m-hero .a-heroImg {
    position: relative;
    top: unset;
    right: unset;
    width: 96%;
    padding-top: 2rem;
  }
  .o-introWrapper #m-hero .a-ratingBadge {
    top: 39%;
    right: 12%;
    width: 22%;
  }
  .o-introWrapper #m-hero .m-heroBox {
    width: 90%;
    margin: 0 auto;
  }
  .o-introWrapper #m-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .o-introWrapper #m-info .a-infoImg {
    width: 100%;
    margin-left: unset;
    float: unset;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2 img;
    order: 2 img;
    order-width: 50%;
  }
  .o-introWrapper #m-info .m-infoText {
    width: 96%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 0 auto;
  }
  .o-introWrapper #m-info .m-details {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    width: 96%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin: 0 auto;
  }
  .o-introWrapper #m-info .m-details .m-detail {
    width: 48%;
    margin-right: 0;
  }
  .o-introWrapper #m-info .m-details .m-detail:nth-child(odd) {
    margin-right: 4%;
  }
  #testimonialsSlider {
    width: 98%;
  }
  #testimonialsSlider .m-testimonial h3, #testimonialsSlider .m-testimonial h4, #testimonialsSlider .m-testimonial blockquote {
    line-height: 1.15;
  }
  #testimonialsSlider .m-testimonial img {
    margin-bottom: 2rem;
  }
  #testimonialsSlider .m-testimonial h4 {
    height: 70px;
  }
  #testimonialsSlider .m-testimonial blockquote {
    font-size: 1.8rem;
    margin-top: 4rem;
  }
  #o-beforeAfter {
    height: auto;
    text-align: center;
    margin-bottom: 0;
    padding: 0 4%;
  }
  #o-beforeAfter .m-beforeAfter-slider {
    position: relative;
    width: 100%;
    max-height: 250px;
    display: block;
  }
  #o-beforeAfter .m-beforeAfter-text {
    position: relative;
    display: block;
    float: unset;
    padding: 0 0 2rem 0;
    margin: 0 auto;
    width: 96%;
  }
  #o-beforeAfter .m-beforeAfter-text p {
    margin: 0 auto;
  }
  #o-blog {
    text-align: center;
    margin-bottom: 4rem;
  }
  #o-blog .a-blogImg-left {
    width: 100%;
  }
  #o-blog .a-blogImg-right {
    display: none;
  }
  #o-blog .m-blog-text {
    width: 96%;
    margin: 0 auto;
  }
  #o-blog .m-blog-text h2 {
    margin-bottom: 1rem;
  }
  #o-products {
    padding-top: unset;
  }
  #o-products .m-primers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #o-products .m-primers .m-primer {
    margin: 0 auto 4.5rem auto;
  }
  #o-products .m-primers .m-primer h4 {
    font-size: 2.2rem;
    margin-bottom: 0.2rem;
  }
  #o-products .m-primers .m-primer h5 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 400px) and (max-width: 450px) {
  #o-beforeAfter {
    padding: 0 8%;
  }
}

@media only screen and (min-width: 451px) and (max-width: 549px) {
  #o-beforeAfter .m-beforeAfter-slider {
    max-height: 290px;
  }
}

@media only screen and (min-width: 550px) and (max-width: 649px) {
  #o-beforeAfter .m-beforeAfter-slider {
    max-height: 360px !important;
  }
}



/*# sourceMappingURL=styles.css.map */
