@media only screen and (max-width: 649px) {
  .content-wrapper {
    h1 {
      font-size: 4.5rem;
    }
    h2 {
      font-size: 4rem;
      margin-bottom: 1rem;
    }
    h5 {
      font-size: 2rem;
      margin-top: 1.4rem;
    }

    .slick-list {
      margin: 0 auto;
    }
  } // content-wrapper
  #hero {
    .hero-img {
      // max-height: 500px;
    }
    .heroBox {
      position: absolute;
      top: 60%;
      left: 0;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      padding: 0 6%;

      h3 {
        margin-bottom: 3rem;
        font-size: 2rem;
      }
    }
  } // hero
  #howTo {
    text-align: center;
    // margin-top: 2rem;

    .howTo-productDesc, .howTo-text {
      padding-left: unset;
      width: 96%;
      margin: 0 auto;

      h2 {
        margin: 0 auto;
        // width: 80%;
      }
    }
    .howTo-productDesc {
      order: 1;

      h5 {
        width: 100%;
      }
    }
    .howTo-text {
      order: 3;

      h5 {
        width: 100%;
      }
    }
    .howTo-img {
      order: 2;
      position: relative;
      top: unset;
      right: unset;
      width: 100%;
    }
  } // howTo
  #testimonials {
    margin-bottom: 0;

    .quotes {
      width: 24%;
      padding-top: 0;
      margin-top: 2rem;
      margin-bottom: 1.8rem;
    } // quotes
  } // testimonials
  #testimonialsSlider {
    margin-top: -2rem;
    width: 98%;

    .slick-prev {
      left: -36px;
    }
    .slick-next {
      right: -10px;
    }
    .testimonial {
      h3 {
        margin-top: 1.4rem;
        font-size: 3rem;
        width: 82%;
        margin: 0 auto;
      }
      h5 {
        width: 86%;
      }
    } // testimonial
  } // testimonialsSlider
  #ingredients {
    margin-top: -2rem;

    .ingredients-waterImg {
      padding-top: 0;
      height: unset;
    }
    .ingredients-wrapper {
      margin-top: -11.5rem;

      .ingredients-box {

        h2 {

          padding-top: 0;
        }
        #ingredientsDesc {
          width: 100%;

          .ingredientDesc-long {
            padding-top: unset;
            text-align: center;

            .ingredientImg {
              float: none;
              margin-left: auto;
              margin-right: auto;

              img {
                width: 280px;
              }
            } // ingredientImg
            .ingredient-text {
              margin: -2rem auto 0 auto;
              width: 90%;
            }
          } // ingredientDesc-long
        } // ingredientsDesc
        #ingredientsSlider {
          width: 92%;

          .slick-track {
            // margin-left: -0.9rem;
            margin-bottom: 2rem;
          }
        } // ingredientsSlider
      } // ingredients-box
      #info {
        width: 90%;
      } // info
      #video {
        width: 100%;
      }
      #videoModal {
        width: 100%;
        height: 100%;
        padding-bottom: 0;

        .modal-content {
          // margin-top: -3rem;
          width: 100%;
          height: auto;
          background: none;
          border: none;

          #ytVideo {
            position: unset;
            padding: 0;
            width: 100%;
            max-width: 600px;
            max-height: 338px;
          }
          .close {
            top: unset;
            right: unset;
            position: relative;
            float: right;
            margin: 0;
            padding: 0 10px;
            line-height: 1;
            color: $gray400;
            // background-color: rgba(255,255,255,0.1);;
            font-size: 5rem;
          }
        }
      }
    } // ingredients-wrapper
  } //ingredients
  #blog {
    .blog-img {
      width: 100%;
    }
    .blog-text {
      position: relative;
      top: unset;
      right: unset;
      padding-right: 0;
      margin: 0 auto;
      text-align: center;
      width: 90%;

      h2 {
        margin-top: 0;
      }
    }
  } // blog
} // Mobile - everything smaller than 650
@media only screen and (max-width: 459px) {
  #hero {
    .heroBox {
      top: 46%;
      padding-left: 1%;
      padding-right: 1%;
    }
  } //hero
  #howTo {
    .howTo-productDesc, .howTo-text {
      h2 {
        font-size: 3.2rem;
      }
    }
  } // howTo
} // to max 450 - Bigger mobile exceptions

@media only screen and (min-width: 650px) and (max-width: 1024px) {
  .content-wrapper {
    h3 {
      font-size: 3rem;
    }
    h5 {
      font-size: 1.8rem;
    }
    .button-cta {
      font-size: 1.6rem;
      padding: .6rem 2rem;
    }
  }
  // #hero {
  //
  // } //hero
  #howTo {
    margin-bottom: 4rem;

    .howTo-img {
      top: 8%;
    }
  }
  #testimonials {
    padding-top: 1.8rem;
    margin-bottom: 6rem;

    .quotes {
      margin-bottom: 1rem;
      width: 8%;

    }
  } // testimonials
  #testimonialsSlider {
    .testimonial {

    } //testimonial
  } // testimonialsSlider
  #ingredients {
    .ingredients-wrapper {
      .ingredients-box {
        margin-top: -3rem;

        #ingredientsDesc {
          width: 90%;

          .ingredientImg {
            margin-left: 0;
          }
        }
      } // ingredients-box
    } // ingredients-wrapper
  } // ingredients
} // min 650 to max 1024 - Tablet

@media only screen and (min-width: 650px) and (max-width: 850px) {
  .content-wrapper {
    h2 {
      font-size: 4rem;
      line-height: 1.1;
    } // h2
  } // content-wrapper
  #hero {
    .heroBox {
      top: 34%;

      h3 {
        font-size: 2rem;
      }
    } // heroBox
  } // hero
  #howTo {
    .howTo-img {
      top: 20%;
    } // howTo-img
  } // howTo
  #testimonials {
    .quotes {
      padding-top: 2rem;
    } // quotes
  } // testimonials
  #testimonialsSlider {
    .testimonial {
      h3 {
        margin-top: 0.5rem;
        font-size: 2.6rem;
      } // h3
    } // testimonial
  } // testimonialsSlider
  #ingredients {
    .ingredients-waterImg {
      padding-top: 1rem;
    } // ingredients-waterImg
    .ingredients-wrapper {
      .ingredients-box {
        margin-top: -14rem;
        width: 86%;

        #ingredientsDesc {
          img {
            width: 240px;
          }
          .ingredientDesc-long {
            padding-top: 0;

            .ingredientImg {
              margin-right: 1rem;
            } // ingredientImg
            .ingredient-text {
              padding-top: 2rem;
            }
          } // ingredientDesc-long
        } // ingredientsDesc
        #ingredientsSlider {
          margin-bottom: 2rem;
        } // ingredientsSlider
      } // ingredients-box
      #video {
        width: 100%;
      } // video
    } // ingredients-wrapper
  } // ingredients
  #blog {
    .blog-text {
      top: 0;
      padding-right: 0;
      width: 50%;
    } //blog-text
  } // blog
} // min 650 to max 850 - Tablet portrait exceptions
@media only screen and (min-width: 650px) and (max-width: 699px) {
  #hero {
    .heroBox {
      top: 58%;
    }
  }
} // min 650 to max 699 - Tablet Hero box exception
