@media only screen and (max-width: 649px) {
  .content-wrapper {
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-size: 2.3rem;
    }
    h6 {
      margin-top: 2rem;
    }
    .button-cta {
      margin-top: 0;
      padding-left: 3rem;
      padding-right: 3rem;
      font-size: 1.6rem;
    }
    .slick-list {
      margin: 0 auto;
    }
  } // content-wrapper
  .o-introWrapper {
    background: linear-gradient(160deg, $vscLtBlue 12%, #aaa 11.9%, #FFFFFF 12.1%);

    #m-hero {
      text-align: center;
      margin-bottom: 4rem;

      .a-heroImg {
        position: relative;
        top: unset;
        right: unset;
        width: 96%;
        padding-top: 2rem;
      } // a-heroImg
      .a-ratingBadge {
        top: 39%;
        right: 12%;
        width: 22%;
      } // a-ratingBadge
      .m-heroBox {
        width: 90%;
        margin: 0 auto;
      } // m-heroBox
    } // m-hero
    #m-info {
      display: flex;
      flex-direction: column;
      text-align: center;

      .a-infoImg {
        width: 100%;
        margin-left: unset;
        float: unset;
        order: 2

        img {
          width: 50%;
        }
      } // a-infoImg
      .m-infoText {
        width: 96%;
        order: 1;
        margin: 0 auto;
      }
      .m-details {
        order: 3;
        width: 96%;
        justify-content: center;
        padding-left: 0;
        margin: 0 auto;

        .m-detail {
          width: 48%;
          margin-right: 0;

          &:nth-child(odd) {
            margin-right: 4%;
          }
        } // detail
      } // m-details
    } // m-info
  } // introWrapper
  #testimonialsSlider {
    width: 98%;

    .m-testimonial {
      h3, h4, blockquote {
        line-height: 1.15;
      }
      img {
        margin-bottom: 2rem;
      }
      h4 {
        height: 70px;
      }
      blockquote {
        font-size: 1.8rem;
        margin-top: 4rem;
      }
    } //testimonial
  } //testimonials
  #o-beforeAfter {
    height: auto;
    text-align: center;
    margin-bottom: 0;

    .m-beforeAfter-slider {
      position: relative;
      width: 100%;
      // min-height: 233px;
      // height: 50%;
      max-height: 370px;
      display: block;
    } // m-beforeAfter-slider
    .m-beforeAfter-text {
      position: relative;
      display: block;
      float: unset;
      padding: 0 0 2rem 0;
      margin: 0 auto;
      width: 96%;

      p {
        margin: 0 auto;
      }
    } // m-beforeAfter-text
  } // o-beforeAfter
  #o-blog {
    text-align: center;
    margin-bottom: 4rem;

    .a-blogImg-left {
      width: 100%;
    } // a-blogImg-left
    .a-blogImg-right {
      display: none;
    } // a-blogImg-right
    .m-blog-text {
      width: 96%;
      margin: 0 auto;

      h2 {
        margin-bottom: 1rem;
      }
    } // m-blog-text
  } //o-blog
  #o-products {
    padding-top: unset;

    .m-primers {
      flex-direction: column;

      .m-primer {
        margin: 0 auto 3rem auto;

        h4 {
          font-size: 2.2rem;
          margin-bottom: 0.2rem;
        }
        h5 {
          font-size: 1.4rem;
          margin-bottom: 2rem;
        }
      } // m-primer
    } // m-primers
  } //o-products
} // Mobile - everything smaller than 650

// @media only screen and (max-width: 459px) {
//
// } // to max 450 - Bigger mobile exceptions

@media only screen and (min-width: 650px) and (max-width: 1024px) {

} // min 650 to max 1024 - Tablet
