
/* Image Comparison related */
.img-comp-container {
  position: relative;
  width: 840px;
  height: 560px; /* same height as the images*/
}
.img-comp-img {
  position: absolute;
  width: 840px !important;
  height: auto;
  overflow: hidden;
  right: 8px;
  flex-basis: auto;

  img {
    display: block;
    vertical-align: middle;
    height: 560px;
    max-width: inherit;
  }
}
#slider-wrapper {
  position: absolute;
  top: -8px;
  // left: 342px;
  z-index: 9;
  cursor: ew-resize;
}
#img-comp-slider {
  width: 4px;
  height: 580px;
  background-color: $gray900;
  opacity: 0.7;
  margin: 0 0 0 6.8rem;
  /* border-radius: 50%; */
}
#slider-text {
  margin-top: 6px;
  color: $gray900;
  text-transform: uppercase;
  width: 140px;
}
