// VSC Colors:
// main blue = $blue700
// dark gray = $gray700
// hover gray = $gray400
$vsc: #004098;
$vscLtBlue: #b9d9ec;
$vscStar: #e57373;
$vscPink: #fcd9dd;

.content-wrapper {
  @keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
  }
  .button-cta {
    font-size: 2rem;
    font-weight: 400;
    background-color: $vsc;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 3rem;
    border: 1px solid #004098;

    &:hover {
      background-color: $gray400;
    }
  }
  .clearfix {
    @include clearfix;
  }
} // content-wrapper
