
/* Image Comparison related */
.img-comp-container {
  position: relative;
  width: 840px;
  height: 560px; /* same height as the images*/
}
.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  float: right;
  // flex-basis: auto;
}
.img-comp-img img {
  display: block;
  vertical-align: middle;
  margin: 0;
  width: 840px;
  // height: 560px;
  max-width: inherit;
}
#slider-wrapper {
  position: absolute;
  padding: 50px 0 0 0;
  margin: 0;
  z-index: 9;
  cursor: ew-resize;
}
#img-comp-slider {
  width: 4px;
  height: 570px;
  background-color: $gray900;
  opacity: 0.7;
  margin: 0 0 0 72px;
  //border-radius: 50%;
}
#slider-text {
  margin-top: 6px;
  color: $gray900;
  text-transform: uppercase;
  width: 150px;
}
@media only screen and (max-width: 649px) {
  .img-comp-container {
    position: relative;
    width: auto;
    // height: inherit;
    // min-width: 336px;
    min-height: 224px;
  }
  .img-comp-img {
    // width: inherit !important;
  }
  .img-comp-img img {
    // min-width: 330px;
    max-width: 330px;
    // width: inherit;
  }
  #slider-wrapper {
    padding-top: 39px;
  }
  #img-comp-slider {
    min-height: 230px;
    height: inherit;
  }
  #slider-text {
    font-size: 1.2rem;
    margin-top: 0;
  }
} // mobile exceptions < 650px
@media only screen and (min-width: 451px) and (max-width: 549px) {
  .img-comp-img img {
    max-width: 430px;
  }
  #slider-wrapper {
    padding-top: 32px;
  }
  #img-comp-slider {
    height: 290px;
  }
} // min 451 to max 549
@media only screen and (min-width: 550px) and (max-width: 649px) {
  .img-comp-img img {
    max-width: 530px;
  }
  #slider-wrapper {
    padding-top: 34px !important;
  }
  #img-comp-slider {
    height: 360px;
  }
} // min 550 to max 649
@media only screen and (min-width: 650px) and (max-width: 799px) {
  .img-comp-container {
    height: 540px;
  }
  .img-comp-img img {
    max-width: 750px;
  }
  #img-comp-slider {
    height: 505px;
  }
} // tablet - 650 to 800
