// VSC Colors:
// main blue = $blue700
// dark gray = $gray700
// hover gray = $gray400
$vsc: #004098;
$vscLtBlue: #b9d9ec;
$vscStar: #e57373;
$vscPink: #fcd9dd;

.content-wrapper {
  @keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  .button-cta {
    font-size: 2rem;
    font-weight: 400;
    background-color: $vsc;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 3rem;
    border: 1rem solid #004098;

    &:hover {
      background-color: $gray400;
    }
  }
  .clearfix {
    @include clearfix;
  }
} // content-wrapper
.o-introWrapper {
  background: $vscLtBlue;

  #m-hero {
    position: relative;
    margin-bottom: 14rem; // ** ! **

    .a-heroImg {
      position: absolute;
      top: -6rem;
      right: -4rem;
      width: 50%;
      max-height: 700px; // ** ! **
    }
    .a-ratingBadge {
      position: absolute;
      top: 2rem;
      right: 0;
      width: 10%;
    }
    .m-heroBox {
      width: 46%;
      padding-top: 12%;
      margin-left: 6%;

    }
  } // m-hero
  #m-info {
    position: relative;

    .a-infoImg {
      display: inline-block;
      width: 36%;
    } // a-infoImg
    .m-infoDetails {
      display: inline-block;
      margin-left: 4rem;
      width: 50%;

      .m-infoDetails-text {

      }
      .m-details {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;

        .m-detail {
          width: 46%;
        } // details
      } // details
    } // m-infoDetails
  } // m-info
} // intro wrapper
#testimonialsSlider {
  margin: 0 auto;
  width: 90%;
  text-align: center;

  .slick-prev {
    left: -1rem;
  }
  .slick-next {
    right: -1rem;
  }
  .m-testimonial {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // height: 305px;
    padding: 2rem 6rem;

    h3 {
      // font-size: 2.3rem;
    }
    h4 {
      height: 50px;
    }
    img {
      width: 100px;
      margin: 0 auto 3rem auto;
    }
    blockquote {
      font-weight: 300;
      color: unset;
      font-size: 2rem;
      margin: 0;
      text-align: center;

      span {
        font-weight: 400;
      }
    }
  } // m-testimonial
} // testimonialsSlider
