/* Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #424649;
  background: #DDDDDD;
}

.cms-page-view .column.main img {
  margin: 0 auto;
}

.columns .column.main {
  padding-bottom: 0;
}

.modal-popup .modal-footer {
  display: none;
}

.content-wrapper {
  font-weight: 300;
  max-width: 1280px;
  margin: 0 auto;
  line-height: 1.4;
  background: #FFFFFF;
}

.content-wrapper .row {
  margin: 0;
}

.content-wrapper .column {
  flex-direction: column;
}

.content-wrapper .block-title {
  text-align: center;
  margin: 0;
}

.content-wrapper .widget .block-title > strong {
  font-size: 4rem;
  line-height: 1.5rem;
  font-weight: 300;
}

.content-wrapper .block.widget .products-grid .product-item {
  margin: 0;
}

.content-wrapper .widget.block-products-list .add-button {
  font-weight: 400;
}

.content-wrapper .widget.block-products-list .add-button:hover {
  background: #00388D;
  border: 1px solid #00388D;
  color: #fff;
}

.content-wrapper .product-item-link {
  text-transform: none;
}

.content-wrapper .widget.block-products-list .product-item-name {
  height: 52px;
}

.content-wrapper .price-wrapper {
  font-weight: 400;
}

.content-wrapper h1 {
  font-size: 6rem;
  line-height: 1.3;
}

.content-wrapper h2 {
  font-size: 5rem;
  line-height: 1.3;
}

.content-wrapper h3 {
  font-size: 3.5rem;
  line-height: 1.3;
}

.content-wrapper h4 {
  font-size: 4rem;
  line-height: 1.4;
  font-weight: 300;
}

.content-wrapper h5 {
  font-size: 3rem;
  line-height: 1.4;
  font-weight: 300;
  margin-top: 2.6rem;
  margin-bottom: .4rem;
}

.content-wrapper h6 {
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 300;
}

.content-wrapper p {
  font-size: 1.8rem;
  line-height: 1.4;
}

.content-wrapper a {
  text-decoration: none;
  color: #424649;
  cursor: pointer;
}

.content-wrapper button {
  color: #424649;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  border: 1px solid #424649;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 2rem;
}

.content-wrapper li {
  font-size: 1.6rem;
}

.content-wrapper .cta {
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 2rem;
}

.content-wrapper .cta:hover {
  text-decoration: underline;
}

.content-wrapper .slick-list {
  margin-left: -1.8rem;
}

.content-wrapper .slick-prev, .content-wrapper .slick-next {
  font-size: 0;
}

.content-wrapper .slick-prev:before, .content-wrapper .slick-next:before {
  color: none;
}

.content-wrapper .slick-arrow {
  border: none;
}

.content-wrapper .linkCTA {
  font-weight: 700;
  text-transform: uppercase;
}

/* Image Comparison related */
.img-comp-container {
  position: relative;
  width: 840px;
  height: 560px;
  /* same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  float: right;
  flex-basis: auto;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
  margin: 0;
  height: 560px;
  max-width: inherit;
}

#slider-wrapper {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
}

#img-comp-slider {
  width: 4px;
  height: 580px;
  background-color: #212121;
  opacity: 0.7;
  margin: 38px 0 0 68px;
}

#slider-text {
  margin-top: 6px;
  color: #212121;
  text-transform: uppercase;
  width: 140px;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content-wrapper h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.content-wrapper h2 {
  font-size: 4rem;
}

.content-wrapper h3 {
  font-size: 2.5rem;
}

.content-wrapper h4 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.content-wrapper h5 {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 4rem;
}

.content-wrapper h6 {
  margin-top: 4rem;
}

.content-wrapper .button-cta {
  font-size: 2rem;
  font-weight: 400;
  background-color: #004098;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 4rem;
  border: 1px solid #004098;
}

.content-wrapper .button-cta:hover {
  background-color: #b9d9ec;
}

.content-wrapper .blog-link {
  font-weight: 400;
  text-transform: uppercase;
}

.content-wrapper .clearfix {
  display: block;
}

.content-wrapper .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .content-wrapper .clearfix {
  height: 1px;
}

.o-introWrapper {
  margin-bottom: 4rem;
  background: linear-gradient(146deg, #b9d9ec 40%, #FFFFFF 40%);
}

.o-introWrapper #m-hero {
  position: relative;
  margin-bottom: 14rem;
}

.o-introWrapper #m-hero .a-heroImg {
  position: absolute;
  top: 6%;
  right: 9rem;
  width: 42%;
}

.o-introWrapper #m-hero .a-ratingBadge {
  position: absolute;
  top: 8%;
  right: 0;
  width: 9%;
}

.o-introWrapper #m-hero .m-heroBox {
  width: 46%;
  padding-top: 6%;
  margin-left: 6%;
}

.o-introWrapper #m-hero .m-heroBox h2 {
  font-size: 7rem;
  line-height: 1;
  margin-top: 0;
}

.o-introWrapper #m-info {
  position: relative;
}

.o-introWrapper #m-info .a-infoImg {
  display: inline-block;
  float: left;
  width: 36%;
}

.o-introWrapper #m-info .m-infoDetails {
  position: relative;
  display: inline-block;
  margin-left: 8rem;
  margin-bottom: 10rem;
  width: 50%;
}

.o-introWrapper #m-info .m-infoDetails .m-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.o-introWrapper #m-info .m-infoDetails .m-details .m-detail {
  width: 46%;
}

.o-introWrapper #m-info .m-infoDetails .m-details .m-detail h4 {
  font-weight: 400;
}

#o-testimonials {
  margin-bottom: 4rem;
}

#testimonialsSlider {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

#testimonialsSlider .slick-prev {
  left: -1rem;
}

#testimonialsSlider .slick-next {
  right: -1rem;
}

#testimonialsSlider .m-testimonial {
  padding: 2rem 6rem;
}

#testimonialsSlider .m-testimonial h4 {
  height: 50px;
}

#testimonialsSlider .m-testimonial img {
  width: 100px;
  margin: 0 auto 3rem auto;
}

#testimonialsSlider .m-testimonial blockquote {
  font-weight: 300;
  color: unset;
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

#testimonialsSlider .m-testimonial blockquote span {
  font-weight: 400;
}

#o-beforeAfter {
  position: relative;
  margin-bottom: 1rem;
  height: 560px;
  background-color: #fcd9dd;
}

#o-beforeAfter .m-beforeAfter-text {
  display: inline-block;
  float: left;
  padding: 4rem 0 4rem 4rem;
  width: 34%;
}

#o-beforeAfter .m-beforeAfter-text p {
  width: 80%;
}

#o-beforeAfter .m-beforeAfter-slider {
  display: inline-block;
  width: 65%;
}

#o-blog {
  position: relative;
  margin-bottom: 4rem;
}

#o-blog .a-blogImg-left {
  width: 60%;
  display: inline-block;
}

#o-blog .a-blogImg-right {
  width: 20%;
  display: inline-block;
  float: right;
}

#o-blog .m-blog-text {
  width: 40%;
  margin-left: 50%;
  margin-top: -20rem;
}

#o-blog .m-blog-text h2 {
  margin-top: 0;
}

#o-blog .m-blog-text h3 {
  margin-bottom: 0;
  text-transform: uppercase;
}

#o-products {
  text-align: center;
  padding-top: 2rem;
}

#o-products .m-primers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

#o-products .m-primers .m-primer {
  flex-direction: column;
  justify-content: flex-end;
}

#o-products .m-primers .m-primer img {
  max-width: 183px;
}

@media only screen and (max-width: 649px) {
  .content-wrapper .slick-list {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=styles.css.map */
